{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
    <ul class="object-tools">
        
        <li>
            <a href="{% url 'admin:importar_forms_admin' %}" class="addlink" style="background-color: #fd7e14; color: white;">
                📥 Importar Google Forms (Registro)
            </a>
        </li>

        <li>
            <a href="importar-correcciones/" class="addlink" style="background-color: #e67e22; color: white;">
                📝 Importar Correcciones (F1)
            </a>
        </li>

        {{ block.super }}
    </ul>
{% endblock %}